@import "colors"

*
  color: white

body
  font-family: Lato, sans-serif
  background-color: black
ul
  list-style: none

.container
  margin-left: 150px
  margin-right: 150px

.btn
  border: none
  width: 150px
  height: 80px
  background-color: $dark_purple
  color: white